#header {
  position: fixed;
}

#logo > img {
  position: relative;
  height: 100%;
}

#name {

}

#linkContainer {

}

#header {
  background-color: #cb5454;
  height: 140px;
}

#splash {
  position: absolute
}

#sticky {
  display: none;
  background-color: #546bcb;
  height: 70px;
}
#sticky.fixed {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

#content {

}

#footer {

}
