::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #e6e6e6; 
  border-radius: 10px;
  transition: .2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  text-align: justify;
  color: white;
  background-color: black;
}

h1,
#projectTitle,
.skillTitle {
  font-family: 'Lovelo', sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 25px;
  margin-top: -65px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#header {
  position: fixed;
  z-index: 1000;
  background-color: black;
  height: 100px;
  width: 100%;
  font-family: 'Lovelo', sans-serif;
}

#logo {
  display: inline-block;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😎</text></svg>")
      16 0,
    auto;
}

#logo > img {
  position: relative;
  height: 100%;
  display: inline-block;
}

#name {
  position: relative;
  height: 100%;
  display: inline-block;
  color: white;
  font-weight: 900;
  font-size: 50px;
  bottom: 32.5px;
  left: 30px;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😎</text></svg>")
      16 0,
    auto;
}

#linkContainer {
  position: relative;
  height: 100%;
  display: inline-block;
}

#splash {
  padding-top: 250px;
  padding-bottom: 150px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-blend-mode: overlay;
  background-attachment: fixed;
}

#splashContent {
  padding: 20px;
  padding-bottom: 110px;
  padding-top: 20px;
  position: relative;
  width: 80%;
  font-size: -webkit-xxx-large;
  backdrop-filter: blur(8px);
}

#selectContainer {
  font-family: 'Lovelo', sans-serif;
}

#option {
  position: relative;
  display: inline-block;
  font-size: -webkit-xxx-large;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

#option:hover {
  border-bottom: 1px solid white;
}

#divider {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 3px;
  height: 80px;
  position: relative;
  top: 20px;
}

#content {
  padding: 30px;
  padding-top: 0;
}

#content > * > h1 {
  font-size: 75px;
}

#break {
  flex-basis: 100%;
  height: 0;
}

#about {
  padding-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  border-bottom: 5px solid white;
}

#about > span {
  flex: 5;
  display: block;
}

#about > img {
  flex: 1;
  align-self: center;
  margin-right: 20px;
  max-height: 100%;
  height: auto; 
}

#projects {
  flex-flow: row wrap;
  display: flex;
  border-bottom: 5px solid white;
}

#demo {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  border-top: 1px solid white;
  cursor: pointer;
  transition: .3s;
}

#demo:hover {
  width: 100%;
  height: 600px;
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .3s;
}

#overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#demoText {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  top: calc(100% - 150px);
}

#projectTitle,
.skillTitle {
  font-size: 50px;
}

#projectDesc {
  font-size: 30px;
}

.skillContainer {
  display: grid;
}

.skill {

}

#footer {
  padding-bottom: 20px;
  flex-flow: row wrap;
  display: flex;
}

#footer > span {
  font-size: 30px;
}

#footer > .copyright {
  font-size: 16px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
