::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: #e6e6e6; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

body {
    margin: 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#output {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 4px, 4px;
    padding: 4px;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

input {
    margin-top: 10px;
    height: 50px;
}

input[type=button] {
    position: relative;
    width: 0%;
}

input[type=number] {
    position: inherit;
    width: 100%;
    background: transparent;
    border: transparent;
    border-radius: 100px;
}

#controlhub {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#interactable {
    background-color: #eaeaea;
    border-radius: 100px;
}
