body {
    margin: 0;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#output {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: green;
    overflow-x: hidden;
    overflow-y: auto;
}

input {
    height: 50px;
}

input[type=button] {
    width: 5vw;
}

input[type=number] {
    width: 30vw;
}

#controlhub {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
