body {
    margin: 0;
}

h2 {
    font-family: "Geologica", sans-serif;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input {
    height: 50px;
}

input[type=button] {
    width: 5vw;
}

input[type=number] {
    width: 30vw;
}

#controlhub {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
