body {
    margin: 0;
    height: 100vh;
    font-family: 'EB Garamond', serif;
    color: white;
    background-image: linear-gradient(to bottom right, #06191D, #1D1B26);
}

h1 {
    font-family: 'Geologica', sans-serif;
    text-align: center;
    font-size: 1.5vw;
}

h2 {
    text-align: center;
    font-size: .8vw;
}

#header {
    height: 20%;
}

#footer {
    height: 20%;
}

#musicSelectContainer {
    position: absolute;
    height: 60%;
    width: 100%;
}

#musicContainer {
    padding-left: 10px;
    padding-right: 10px;
}

#song {
    margin: 1%;
    position: relative;
    left: 5%;
    width: 27.5%;
    height: 100%;
    display: inline-block;
    border: 10px solid;
    border-image-source: linear-gradient(to left, #FD2D00, #DF007C);
    border-image-slice: 1;
    border-width: 1px;
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#song:hover {
    background-color: #041114;
}
